<p>Network works!</p>
<!-- VALORES EN TIEMPO REAL -->
<div class="row col-sm-10">
    <div class="col-xs-12 col-sm-4">
        <div class="box p-a">
            <div class="pull-left m-r">
                <span class="w-48 rounded  accent">
            <i class="fa fa-sun-o"></i>
          </span>
            </div>
            <div class="clear">
                <h4 class="m-0 text-lg _300"><b id="display_temp1">-- </b><span class="text-sm"> C</span></h4>
                <small class="text-muted">Promedio: 17 C</small>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="box p-a">
            <div class="pull-left m-r">
                <span class="w-48 rounded primary">
            <i class="fa fa-desktop"></i>
          </span>
            </div>
            <div class="clear">
                <h4 class="m-0 text-lg _300"><b id="display_temp2">-- </b><span class="text-sm"> C</span></h4>
                <small class="text-muted">Temp Pico: 70 C</small>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="box p-a">
            <div class="pull-left m-r">
                <span class="w-48 rounded warn">
            <i class="fa fa-plug"></i>
          </span>
            </div>
            <div class="clear">
                <h4 class="m-0 text-lg _300"><b id="display_volt">-- </b><span class="text-sm"> V</span></h4>
                <small class="text-muted">Tensión Pico: 5.8 V</small>
            </div>
        </div>
    </div>
</div>